body {
    color: #84533E;
    background-color: #f1f1f1;
    font-family: "Lato", monospace;
}

body{
    font-family: 'Ysabeau';
    background-color: white;
   
}
body {
    color: #84533E;
    background-color: #f1f1f1;
    font-family: "Lato", monospace;
    font-family: "Ysabeau";
    font-size: 15pt;
}
body {

    font-family: "Ysabeau";

    font-size: 35px;

}
body {
    font-family: "Ysabeau";
 }

 body {
	line-height: 1;

}
body {
    color: #84533E;
    background-color: #f1f1f1;
    font-family: "Lato", monospace;
}








    


