/* contato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,1;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    color: #84533E;
    background-color: #f1f1f1;
    font-family: "Lato", monospace;
    font-family: "Ysabeau";
    font-weight: 200;
    font-size: 15pt;
}



.container h1 {
    font-size: 40px;
    font-style: bold;
}





.form-image {
    height: calc(100vh - 159px - 244.66px);
    display: grid;
    grid-template-columns: 10% 1fr 1% 1fr 10%;
    
}

.form-image > form {
    grid-column: 2;
   display: flex;
   flex-direction: column;
      

}

.photo-shoemaker {
    grid-column: 4;
}

/* estilização de contato */

.sub-titlecontact {
   padding-left: 7.0rem;
   margin: 2rem;

}

.container h1 {
    padding-left: 6.5rem;
    margin: 2rem;
 
 }

 .form-image {

    margin-right: 30rem;
 }

 .photo-shoemaker {
    margin-left: 30rem;
 }

.form-image label {
    padding: 1rem;
}