/* Inicio do footer */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,1;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
.rodape {
  background-color: #753f1b;
  color: rgb(254, 254, 254);
  text-decoration: none;
  padding-bottom: 15px;
  font-family: 'Lato';
 
}

.menu-rodape {
  display: flex;
 
  font-size: 16px;
  width: 100%;
  height: 166px;
  justify-content: space-evenly;
  align-items: center;
 
}
/* borda dos itens do container "menu-rodape" */
.menu-rodape>ul, .menu-rodape>div, .menu-rodape>address {
  margin: 0px 10px;
  width: 30%;
  display: flex;
  align-items: center;
}

.menu-rodape a {
  text-decoration: none;
  color: rgb(254, 254, 254);

}

.footer-itens {
  display: flex;
  flex-direction: column;
  color: black;
  height: 30%;
}

.social-itens p {
  text-align: center;
}

.social-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  margin-bottom: 5px;
}

.social-itens img {
  width: 50px;
}

.payment-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;

}

.payment-logos img {
  width: 45px;
}

.adress-style p {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-self: center;

}

.copyrigth {
  text-align: center;
  margin-top: 1rem;
  font-size: 10pt;
 
}

/* Termino footer */




/* Responsividade */

@media screen and (max-width: 800px) {
  .menu-rodape {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 570px) {
  .menu-rodape {
    font-size: 15px;
  }
  .payment-logos img {
    width: 35px;
  }
  .social-itens img {
    width: 35px;
  }
}

/* Final responsividade footer*/