
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;600;700&display=swap');


body {
    color: white;
    background-color: #543737;
    font-family: 'Chivo Mono', monospace;
    font-weight: 100;

}
.container-titles {
    background-color: #84533E;

}
.page-tittle {
    font-size: 30pt;
    display: flex;
    margin: 2rem;

}
/*INICIO ESTILIZAÇÃO BANNER-INDEX*/
.banner-index img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    padding-top: 1rem;
}
/*FIM ESTILIZAÇÃO BANNER-INDEX*/

