
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    color: #84533E;
    background-color: #f1f1f1;
    font-family: 'Lato', monospace;
}
.container-titles {
    background-color: #84533E;

}
.page-tittle {
    font-size: 30pt;
    display: flex;
    margin: 2rem;

}
/*INICIO ESTILIZAÇÃO CONTAINER-BANNER-INDEX*/
.container-banner-index img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    padding-top: 1rem;
}
/*FIM ESTILIZAÇÃO CONTAINER-BANNER-INDEX*/

