/* Bordered form */



form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */

  button-login {
    background-color: #141414;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */

  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */

 
  
  /* The "Forgot password" text */

  span.psw {
    float: right;
    padding-top: 16px;
  }


  /* --ÍNICIO ESTILIZAÇÃO LOGIN FORMULÁRIO-- */


/* Background da tela formulário */

  body {

    font-family: "Ysabeau";

    font-size: 35px;

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  /*min-height: calc(100vh - 10px);*/
  padding: 5px;
}
.container-login {
  display: flex;
  flex-direction: column;
  padding: 80px;
}

/* Alinhamento da box de login ao centro da tela */

#login {

   display: flex;

    align-items: center;

    justify-content: center;

    
    height: 85vh;   
}

/* Formatação da box de login */

.card {

    background-color: #753f1b;

    padding: 40px;

    border-radius: 2px;

    width:680px;

}

/* Estilização do login */

.card-header {

    padding-bottom: 50px;

    opacity: 0.8;

    color: #f1f1f1;

}

.card-header::after {

    text-decoration: underline;

    display: block;

    margin-left: 2px;

}

.card-header > h2 {

  text-decoration: underline;

  display: block;

  margin-left: 2px;

}

/* Formatação seção usuário e login */

.card-content label {

    color: #f1f1f1;

    opacity: 0.8;

    font-family: "Ysabeau";

    font-size: 20px;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}


.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid #e1e1e1;

    outline: none;

    color: #fff;
    
    font-size: 15px;

}

input::placeholder {
    color:#f1f1f1;
    opacity: 0.5;
    font-family: 'Ysabeau';
}

.card-footer {

    display: flex;

    flex-direction: column;

}

/* Estilização botão login */

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: #3b1f13;

    border:none;

    color:#e1e1e1;

    margin: 10px 0;

    font-family: "Ysabeau";

    font-size: 20px;

}

/* Estilização e alinhamento botaão Esqueceu a senha */

.card-footer a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: #f1f1f1;

    text-decoration: none;
    
    font-family: "Ysabeau";

    font-size: 20px;

}

/* Remoção da barra de rolagem do Login */


/* Configuração e disposição dos ícones sociais */

.icon-settings {

  display: flex;
  height: 50px;
  margin-top: 2rem;
  justify-content: space-evenly;
  
}

/* Configuração das imagens dentro da div */

.icon-settings img {

  border-radius: 13px;

}

/* Estilização dos ícones após adicionar href facebook e google */

.icon-settings a {

  display: flex;
  height: 50px;
  margin-top: 0,5rem;
  justify-content: space-evenly;

}

/* Estilização botão de cadastro */

.account { 

  text-align: center;

  font-size: 12px;

  opacity: 0.8;

  color: #f1f1f1;

  text-decoration: none;

   font-family: "Ysabeau";

  font-size: 20px;

  padding-top: 2rem;

} 




/* --FIM ESTILIZAÇÃO LOGIN FORMULÁRIO-- */

  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

