@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* --CONFIGURAÇÕES DO MENU DE NAVEGAÇÃO-- */

nav {
  height: 90px;
  background-color: #84533E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Lato', monospace;
  font-weight: bold;
  padding: 0px 50px;

}

/* --Tamanho da logo-- */

nav>img {
  height: 95%;

}

/* --Espaçamento do menu-- */

nav>ul {
  display: flex;
  justify-content: space-between;
  width: 700px;

}

/* --Menu em letras maiúsculas-- */

nav>ul>li {
  font-size: 25px;
  text-transform: uppercase;

}

/* --Cor do menu-- */

nav>ul>li>a {
  color: #f1f1f1;
  text-decoration: none;
  justify-content: end;
  
}

/* --Tamanho do ícone login-- */

nav>ul>li>a>i { 
  font-size: 30px;

}




