nav {
  background-color: #84533E;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-style: 'Chivo Mono', monospace;
  font-weight: bold;
  
}


.btn-menu>a {
  margin:3px;
  color: rgb(255, 255, 255);
  margin-left: 5px;

}

.btn-menu>i {
  margin:3px;
  color: rgb(255, 255, 255);
 
}

.btn-menu:hover {
  background-color: #bf8a82;
  cursor: pointer;

}

/* Divisória de menu */

