@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

nav {
  height: 90px;
  background-color: #84533E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Lato', monospace;
  font-weight: bold;
  padding: 0px 50px;
  
}

 nav > img{
  height: 100%;

}

 nav > ul{
  display: flex;
  justify-content:space-between;
  width: 700px;
}

 nav > ul > li{
  font-size: 25px;
  text-transform: uppercase;
  
 
}

nav > ul > li > a{
  color: #f1f1f1;
  text-decoration: none;

}







