* Formatação da box de login */

body{
    font-family: 'Ysabeau';
    background-color: white;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    min-height: calc(100vh - 320.66px);

   

}

.container-password {

    display: flex;
    flex-direction: column;
}

.card {

    background-color: #753f1b;

    padding: 40px;

    border-radius: 2px;

    width:680px;

}

/* Estilização do login */

.card-header {

    padding-bottom: 50px;

    opacity: 0.8;

    color: #f1f1f1;

}

.card-header::after {

    text-decoration: underline;

    display: block;

    margin-left: 2px;

}

.card-header > h2 {

  text-decoration: underline;

  display: block;

  margin-left: 2px;

}

/* Formatação seção usuário e login */

.card-content label {

    color: #f1f1f1;

    opacity: 0.8;

    font-family: "Ysabeau";

    font-size: 20px;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}


.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid #e1e1e1;

    outline: none;

    color: #fff;
    
    font-size: 15px;

}

.card-content-area ::placeholder {
    color:#f1f1f1;
    opacity: 0.5;
}

.card-footer {

    display: flex;

    flex-direction: column;

}

/* Estilização botão login */

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: #3b1f13;

    border:none;

    color:#e1e1e1;

    margin: 10px 0;

    font-family: "Ysabeau";

    font-size: 20px;

}

/* Estilização e alinhamento botaão Esqueceu a senha */

.card-footer a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: #f1f1f1;

    text-decoration: none;
    
    font-family: "Ysabeau";

    font-size: 20px;

}
/*
/* Remoção da barra de rolagem do Login */

/* html { 
  
  overflow: hidden;

} */

/* Configuração e disposição dos ícones sociais */

.icon-settings {

  display: flex;
  height: 50px;
  margin-top: 2rem;
  justify-content: space-evenly;
  
}

/* Configuração das imagens dentro da div */

.icon-settings img {

  border-radius: 13px;

}

/* Estilização dos ícones após adicionar href facebook e google */

.icon-settings a {

  display: flex;
  height: 50px;
  margin-top: 0,5rem;
  justify-content: space-evenly;

}

/* Estilização botão de cadastro */

.account { 

  text-align: center;

  font-size: 12px;

  opacity: 0.8;

  color: #f1f1f1;

  text-decoration: none;

   font-family: "Ysabeau";

  font-size: 20px;

  padding-top: 2rem;

} 