body {
    font-family: "Ysabeau";
 }

 main {
    display: flex;
    flex-direction: column;
 }
/******AQUI COMEÇA ESTILIZAÇÃO DO SUB-MENU DO CATALOGO*****/
.containerSubNavBar{
    display: flex;
    justify-content: center;
}
 .sub-navbar{
    background-color: #753f1b;
    width: 500px;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform .2s;
    border-radius: 0.5rem;
    position: fixed;
 }

 .sub-navbar:hover{
    transition: all 300ms;
    transform: scale3d(1.03, 1.03, 1.6);
    box-shadow: 0 0 10px #8f8d8d;

 }

 .sub-navbar ul li:hover{
    scale: 1.08;
 }
 .sub-navbar ul li{
    transition: all 500ms;
 }

 .sub-navbar ul{
    display:flex;
    justify-content: space-around;  
    width: 700px; 
    font-size: 25px;
    transition: all 500ms;
    
 }

.sub-navbar a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 25px;
    
 }

 [data-animation="animation"].animation {
    position: fixed;
    top: 40px;
} 

[data-animation="btn"].btn {
    position: fixed;
    top: 120px;
    left: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 500ms;
}

.setinha{
    background: transparent; /*fundo da setinha transparente*/
    display: flex;
    justify-content: flex-end;
    padding:  0px 80px; 
    border: none;
    position: fixed;
    right: 30px;
    top: 180px;
    

}

.setinha:hover{
    transition: all 300ms;
    transform: scale3d(1.03, 1.03, 1.6); 
    scale: 1.08;

}

html{
    scroll-behavior: smooth; /* --Ação de rolagem da seta-- */
}

.product-title{
    margin-top: 100px;
    text-indent: 80px; /*espaçao do texto, como se fosse um margin mas nao é */
    height: 100px;
    font-family: "Ysabeau";
    font-size: 55px;
    
}

.product-title::after{ /*o metodo after serve para criar algo depois do product-title, se fosse before seria para criar algo antes do product-title*/
    content: ''; /*Sempre que usa o before e o after deve se usar um content*/
    display: inline-block; /* display block serve para formar um bloco*/
    height: 25px;
    width: 35%;
    background-color: #753f1b;
}

.secProduto::after{ /*o metodo after serve para criar algo depois do product-title, se fosse before seria para criar algo antes do product-title*/
    content: ''; /*Sempre que usa o before e o after deve se usar um content*/
    position: absolute;
    right: 0;
    transform: translateY(80px);
    justify-self: flex-end;
    align-self: flex-end;
    height: 25px;
    width: 35%;
    background-color: #753f1b;
}

.bottom-design{
    display: flex;
    justify-content: flex-end;
    background-color: #753f1b;
    height: 25px;
    width: 35%;
    align-self: flex-end;
    margin-bottom: 60px;
   
}

/* INICIO ESTILIZAÇÃO imagens produtos */
.secProduto {
    display: flex;
    flex-wrap: wrap; /* flex wrap quebra linha*/
    gap: 50px; /* gap só funciona com o display flex, que serve para dar espaço entre um item e outro que estao juntos dentro deste container*/
    justify-content: center;
    padding-top: 80px ;
}

.secProduto:last-of-type{ /*last of type é o ultimo do tipo, no caso a ultima section*/
    margin-bottom: 150px;
}

.containerCard {
    height: 90%;

}

.contentCard {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: auto;

}

.card {
    width: 30rem;
    height: 500px;
    background-color: #753f1b;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerCardImg {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.containerCardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.containerCardImg img {
    object-position: bottom;
}

.conteudoCard {
    display: flex;
    justify-self: center;
    width: 90%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
}
.conteudoCard h1 {
    width: 50%;
    font-size: 18px;   
    color: #ffffff;
}

.conteudoCard p {
    font-size: 18px;   
    color: #ffffff;
    
}

.conteudoCard>a>button {
    height: 30px;
    padding: 0.2rem 1rem;
    border: none;
    background-color: var(--principal-color);
    color: #eeeeee;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.05s;
}

.conteudoCard button:hover {
    cursor: pointer;
}


  /*  FIM ESTILIZAÇÃO CARD */